/* Add this CSS in a separate stylesheet or in a <style> tag within your component */
.App{
  text-align: center;
}

.quiz button {
  background-color: #3498db; /* Default button background color */
  color: #fff; /* Default button text color */
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add a smooth transition effect */
}

.quiz button:hover {
  background-color: #2980b9; /* Button background color on hover */
  transform: scale(1.05); /* Add a slight zoom-in effect on hover */
}

/* Style for correct answer button */
.quiz button.correct {
  background-color: #27ae60; /* Correct answer button background color */
}

/* Style for incorrect answer button */
.quiz button.incorrect {
  background-color: #e74c3c; /* Incorrect answer button background color */
}
